.Header {
  display: flex;
  padding: 0.75rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(37, 32, 31, 0.3);
}
.Header__hidden-text {
  position: absolute;
  width: 1px;
 /* stylelint-disable-line unit-blacklist */
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.Header__logo-image {
  height: 1.5rem;
  vertical-align: top;
}
